.container + h3{
  margin-top: 8px;
}

h3{
  font-size: 16px;
  margin: 24px auto 16px auto;
  padding-left: 15px;
  /* font-weight: bold; */
  width: 100%;
}


@media(min-width:768px){
  
  .title{
    width: 280px;
  }

  .container_pc{
    width: 470px;
  }
}