/* common */
html{
  width: 100%;
}

body{
  width: 100%;
  margin: 0;
  font-family: 'Zen Old Mincho', serif;
  background-image: url(../img/washi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  letter-spacing: .1em;
  font-size: 16px;
}

.yen{
  font-size: 80%;
}


/* navi */
ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.box1_1{
  width: 4vw;
  padding: 4vw 0 0 4vw;
}

.nav_toggle{
  display: block;
  position: relative;
  width: 4vw;
  height: 1.5rem;
  margin: 0 auto;
}

.nav_toggle i{
  display: block;
  width: 100%;
  height: 1.6px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1){
  top: 0;
}

.nav_toggle i:nth-child(2){
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3){
  bottom: 0;
}

.nav_toggle.show i:nth-child(1){
  transform: translateY(10px) rotate(-45deg);
  z-index: 4;
}

.nav_toggle.show i:nth-child(2){
  opacity:0;
  z-index: 4;
}

.nav_toggle.show i:nth-child(3){
  transform: translateY(-12px) rotate(45deg);
  z-index: 4;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav.show{
  opacity: 1;
  visibility: visible;
  background-color: white;
  padding-top: calc(4vw + 1.5rem);
  top: 0;
  left: 0;
  z-index: 3;
}

nav li{
  text-align: center;
}

nav li{
  margin-top: 40px;
}


/* animation */
a:hover{
  text-decoration: none;
}

a{
  position: relative;
}

a::after{
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1.6px;
  background: #bf9d6d;
  bottom: -1px;
  visibility: hidden;
  opacity: 0;
}

a:hover::after{
  visibility: visible;
  opacity: 1;
  transition: .8s;
}

.box4_3 a:hover::after , .no_line a:hover::after{
  visibility: hidden;
}

@media(max-width:767px){
  .nav_toggle{
    width: 8vw;
}
}