
h1{
  text-align: center;
  padding-top: 30px; 
  margin: 0;
  font-size: 24px;
  color: black;
}

main{
  padding:  40px 4vw 4vw;
}

.container{
  display: flex;
  width: calc(100vw - 8vw - 40px);
  max-width: 380px;
  margin: 0 auto;
  padding:20px;
  border-top: 1px solid black;
  align-items: center;
}

.container:last-child{
  border-bottom: 1px solid black;
}

.day{
  width: 140px;
  padding-right: 20px;
  font-size: 13px;
}

.title{
  width: 100%;
}

.btn{
  width: 10px;
  margin-left: auto;
  padding-left: 20px;
}

@media(min-width:768px){
  body{
    font-size: 18px;
  }
  h1{
    font-size: 32px;
  }
  .container{
    max-width: 800px;
  }
  .day{
    width: 200px;
    font-size: 15px;
  }
}  